.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  z-index: 99999;
  position: relative;
}
#about-section{
  background-image: url('../public/images/hero_1_no-text.jpg');
}
/* .donate{
  background-image: url('../public/img/carousel-2.jpg');
} */
.mw-500{
  max-width: 500px;
}
.mw-400{
  max-width: 400px;
}
.mh-450{
  min-height: 450px;
}
.mh-400{
  min-height: 400px;
}
.h-60{
  height: 60px;
}
.w-200{
  width: 200px
} 
.h-200{
  height: 200px;
}
.of-cover{
  object-fit: cover;
}
.l-0{
  left: 0;
}
.h-100{
  height: 100px
}